<header class="page-header">
  <div class="container">
    <nav class="navigation">
      <div class="logo-part">
        <a class="logo" href="./index.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="168"
            height="16"
            class="icon-logo-mob"
          >
            <use href="/img/icon.svg#icon-logo-mob"></use></svg
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="194"
            height="18"
            class="icon-logo-tab-desk"
          >
            <use href="/img/icon.svg#icon-logo-tab-desk"></use></svg
        ></a>
      </div>
      <div class="menu-with-button">
        <button type="button" class="menu-burger-mob js-open-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            class="icon-menu-mob"
          >
            <use href="./img/icon.svg#icon-menu-mob"></use>
          </svg>
        </button>
        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="#howitworks" class="menu-link">How It Works</a>
          </li>
          <li class="menu-list-item">
            <a href="#vegetables" class="menu-link">Vegetables</a>
          </li>
          <li class="menu-list-item">
            <a href="#reviews" class="menu-link">Reviews</a>
          </li>
        </ul>
        <button type="button" class="menu-button">SHOP NOW</button>
      </div>
    </nav>
    <load src="partials/menu.html" />
  </div>
</header>
