<section class="howitworks" id="works">
  <div class="container section-main-container">
    <h2 class="visually-hidden">How It Works</h2>
    <div class="work-image-conteiner">
      <div class="container-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/how_it_works-pictures/how-it-works-desk-1x.jpg 1x,
              ../img/how_it_works-pictures/how-it-works-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/how_it_works-pictures/how-it-works-tab-1x.jpg 1x,
              ../img/how_it_works-pictures/how-it-works-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/how_it_works-pictures/how-it-works-mob-1x.jpg 1x,
              ../img/how_it_works-pictures/how-it-works-mob-2x.jpg 2x
            "
          />
          <img
            class="cooking-woman"
            src="../img/how_it_works-pictures/how-it-works-tab-1x.jpg"
            alt="Cooking woman"
            width="640"
            height="640"
          />
        </picture>
        <span class="overlay"></span>
      </div>
    </div>
    <div class="work-conteiner">
      <h3 class="title-p2">
        To order your <span class="selection-title-p2">vegetable</span> basket,
        simply follow these <span class="selection-title-p2">easy steps</span>
      </h3>
      <p class="text-p2">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh vegetables without ever
        leaving your home.
      </p>
      <ol class="list-p2">
        <li class="list-item-p2">
          <p class="list-text-p2">
            Just choose <span class="list-selection-p2">the vegetable</span> you
            want to order by clicking on the checkboxes
            <span class="list-selection-p2">next to it.</span>
          </p>
        </li>
        <li class="list-item-p2">
          <p class="list-text-p2">
            Click on <span class="list-selection-p2">the basket</span> and fill
            out the form.
          </p>
        </li>
        <li class="list-item-p2">
          <p class="list-text-p2">
            Sit back and relax! Your
            <span class="list-selection-p2">fresh vegetables</span> basket will
            be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
