<div class="mobil-backdrop is-open">
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close">
        <svg class="close-icon" width="16" height="16">
          <use href="/img/icon.svg#icon-mob-close-btn"></use>
        </svg>
      </button>
      <button class="pad-menu-close">
        <svg class="close-icon" width="20" height="20">
          <use href="/img/icon.svg#icon-tab-desk-close-btn"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link mobile-current" href="./index.html"
              >How It Works</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Vegetabless</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="submit" class="order-button">SHOP NOW</button>
    </div>
  </div>
</div>
