<div class="menu-backdrop js-menu-container" id="mobile-menu">
  <div class="mob-menu js-menu-container">
    <button type="button" class="menu-close-btn js-close-menu">
      <svg class="close-btn-icon">
        <use href="/img/icon.svg#icon-close-btn"></use>
      </svg>
    </button>

    <nav class="mob-menu-nav">
      <ul class="mob-menu-ul">
        <li class="mob-menu-li">
          <a class="mob-menu-a mobile-modal-link" href="#howitworks"
            >How It Works</a
          >
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-a mobile-modal-link" href="#vegetables"
            >Vegetables</a
          >
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-a mobile-modal-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <div class="mob-menu-footer">
      <button class="mob-menu-btn" type="button">Shop now</button>
    </div>
  </div>
</div>
