<section class="vegetables-section" id="vegetables">
  <div class="container">
    <div class="vegetables-title-container">
      <h2 class="section-title vegetables-section-title">
        organic <span class="accent-color">vegetables</span>
      </h2>
      <p class="vegetables-description">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="cont-veg-container">
          <h3 class="vegetables-name">eggplant</h3>
          <p class="vegetables-price">60 USD/KG</p>
          <img
            class="vegetables-list-img"
            srcset="./img/vegetables-pictures/eggplant-mob-2x.png 2x"
            src="./img/vegetables-pictures/eggplant-mob-1x.png"
            alt="eggplant"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="cont-veg-container">
          <h3 class="vegetables-name">leek</h3>
          <p class="vegetables-price">50 USD/KG</p>
          <img
            class="vegetables-list-img"
            srcset="./img/vegetables-pictures/leek-mob-2x.png 2x"
            src="./img/vegetables-pictures/leek-mob-1x.png"
            alt="leek"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="cont-veg-container">
          <h3 class="vegetables-name">mushrooms</h3>
          <p class="vegetables-price">40 USD/KG</p>
          <img
            class="vegetables-list-img"
            srcset="./img/vegetables-pictures/mushrooms-mob-2x.png 2x"
            src="./img/vegetables-pictures/mushrooms-mob-1x.png"
            alt="mushrooms"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="cont-veg-container">
          <h3 class="vegetables-name">corn</h3>
          <p class="vegetables-price">60 USD/KG</p>
          <img
            class="vegetables-list-img"
            srcset="./img/vegetables-pictures/corn-mob-2x.png 2x"
            src="./img/vegetables-pictures/corn-mob-1x.png"
            alt="corn"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="cont-veg-container">
          <h3 class="vegetables-name">sweet potatoes</h3>
          <p class="vegetables-price">50 USD/KG</p>
          <img
            class="vegetables-list-img"
            srcset="./img/vegetables-pictures/potato-mob-2x.png 2x"
            src="./img/vegetables-pictures/potato-mob-1x.png"
            alt="sweet potatoes"
            width="282"
            height="243"
          />
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="cont-veg-container">
          <h3 class="vegetables-name">carrot</h3>
          <p class="vegetables-price">40 USD/KG</p>
          <img
            class="vegetables-list-img"
            srcset="./img/vegetables-pictures/carrot-mob-2x.png 2x"
            src="./img/vegetables-pictures/carrot-mob-1x.png"
            alt="carrot"
            width="282"
            height="243"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
