* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.howitworks-1 {
  margin: 0 auto;
  padding: 40px 0;
  background-color: #7a3145;
}
.howitworks-2 {
  width: 100%;
  padding: 80px 0;
  background-color: #576f35;
}

.cooking-woman {
  border-radius: 30px;
}

.title-p2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  margin-bottom: 20px;
}
.selection-title-p2 {
  color: rgba(251, 251, 251, 0.3);
}
.text-p2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;

  margin-bottom: 40px;
}
.list-p2 {
  list-style: none;
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item-p2 {
  border-radius: 15px;
  counter-increment: list-counter;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  background-color: #fbfbfb;
}

.list-item-p2::before {
  content: counter(list-counter);
  font-family: 'Inter Tight', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #7a3145;
  border: #d4bec4 solid 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-right: 24px;
  border-radius: 50%;
  flex-shrink: 0;
}

.list-text-p2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}
.list-selection-p2 {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .howitworks-1 {
    padding: 100px 0;
  }
  .howitworks-1 .container {
    padding: 0 64px;
  }

  .howitworks-2 {
    padding: 100px 0;
  }
  .howitworks-2 .container {
    padding: 0 159px;
  }
  .title-p2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .text-p2 {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 50px;
  }
  .list-text-p2 {
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 1200px) {
  .howitworks {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .howitworks-1 {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
  }
  .howitworks-1 .container {
    padding: 0 100px;
  }

  .howitworks-2 {
    width: 100%;
    padding: 100px 0 160px 0;
  }
  .howitworks-2 .container {
    padding: 0 100px;
  }
}
