.menu-backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(20, 20, 20, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu {
  padding: 28px 20px 40px;
  background-color: #7a3145;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu-close-btn {
  position: absolute;
  padding: 0;
  bottom: 24px;
  top: 28px;
  right: 20px;
  width: 32px;
  height: 32px;

  background-color: transparent;
  border-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.mob-menu-nav {
  margin-top: auto;
}

.mob-menu-ul {
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.mob-menu-a {
  font-family: 'Inter Tight', sans-serif;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  color: #fbfbfb;
  /* font-weight: 500; */
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  display: block;
  width: 114px;
  height: 42px;
  background-color: transparent;
}

.mob-menu-a:hover,
.mob-menu-a:active {
  color: #7a3145;
  background-color: #fbfbfb;
}

.mob-menu-btn {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  border-radius: 30px;
  padding: 16px 41px;
  min-width: 155px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  border: none;
  margin: 0 auto;
  margin-top: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn:hover,
.mob-menu-btn:active {
  color: rgba(122, 49, 69, 0.7);
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    top: 32px;
    width: 40px;
    height: 40px;
  }

  .mob-menu {
    max-width: 351px;
    padding: 32px 20px 50px;
  }

  .mob-menu-a {
    font-size: 16px;
    line-height: 1.25;
  }

  .mob-menu {
    width: 351px;
    margin-left: 417px;
  }

  .mob-menu-a {
    font-size: 16px;
    line-height: 1.25;
  }

  .mob-menu-btn {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    height: 52px;
    min-width: 157px;
    padding: 16px 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

/******************----D---E---S----K----T----O----P-----***********/

@media screen and (min-width: 1280px) {
  .menu-backdrop {
    display: none;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}