.mobile-menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7a3145;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  fill: #fbfbfb;
  stroke-width: 1px;
  padding: 0;
  line-height: 0;
}

.close-icon {
  fill: #fbfbfb;
  stroke-width: 1px;
}

.pad-menu-close {
  display: none;
}

.mobile-menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.mobile-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  width: 114px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.mobile-current {
  background: #fbfbfb;
  color: #7a3145;
}

.order-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border-radius: 30px;
  width: 155px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover .order-button:focus {
  color: rgba(122, 49, 69, 0.7);
}

@media screen and (min-width: 768px) {
  .mobil-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.4);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    margin-left: auto;
    width: 321px;
    height: 100%;
    background-color: #7a3145;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close {
    display: none;
  }

  .mobile-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .pad-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    fill: #fbfbfb;
    stroke-width: 1px;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-link {
    width: 119px;
    height: 44px;
    font-size: 16px;
    line-height: 1.25;
  }

  .order-button {
    border-radius: 30px;
    width: 157px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
  }
}
